.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-right: 1rem;
}

.todo__completed {
    text-decoration: line-through;
}