.habitDays__day--current {
    color: var(--text-color);
    position: relative;
}

.habitDays__day--current::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid var(--text-color);
    border-left: 10px solid var(--text-color); 
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
}

.habitDays__day {
    height: 5rem;
}

.habitDays__day__number {
    display: flex;
    justify-content: end;
    align-items: end;
    font-weight: 700;
    height: 100%;
}

.habitDays__emptyCell {
    transition: background-color 0.s ease-out;
    border: none;
}