table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--text-color);
    padding: 10px;
    text-align: center;
}

.calendarDays__emptyCell {
    transition: background-color 0.s ease-out;
    border: none;
}

td {
    cursor: pointer;
}

.calendarDays__day--current {
    background-color: var(--current-day-background-color);
    color: var(--current-day-text-color);
}

.calendarDays__day--selected {
    background-color: var(--selected-background-color);
    color: var(--selected-text-color);
    transition: background-color 0.3s ease-out;
}