table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--text-color);
    padding: 10px;
    text-align: center;
}

.calendarDays__emptyCell {
    transition: background-color 0.3s ease-out;
    border: none;
}

.calendarDays__day--current {
    color: var(--text-color);
    position: relative;
}

.calendarDays__day--current::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid var(--text-color);
    border-left: 10px solid var(--text-color); 
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
}

.calendarDays__day--selected {
    background-color: var(--selected-background-color);
    color: var(--selected-text-color);
    transition: background-color 0.3s ease-out;
}
