section {
    width: 100%;
}

.todos {
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
}

.half-height {
    height: 27vh;
}

.max-height {
    height: 100%;
}

.todos__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 1rem;
}