.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    border: solid 1px var(--text-color);
    padding: 4rem;
    padding-top: 2rem;
    gap: 1rem;
    z-index: 1000;
}

.modal__buttons {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.modal__label {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .modal__label {
        flex-direction: column;
    }
}
